/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

body {
	overflow-x: hidden;
	// background-image: url(assets/img/BetaDebBG.jpg);
	// background-position: center bottom;
	// background-repeat: no-repeat;
}

.alert {
	position: fixed;
	top: 50;
	left: 0;
	opacity: 0;
	display: none;
	width: 100vw;
	height: 100vh;
	background: rgba($primary-color, 0.7);
	z-index: 9999;
	display: table;
	-webkit-transition: all .3s linear;
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;

	&.ed {
		opacity: 1;
		top: 0;
	}


	.box {
		display: table-cell;
		vertical-align: middle;

		.content {
			background-image: url(assets/img/alertbg.jpg);
			background-color: white;
			width: 100%;
			max-width: 600px;
			margin: 0 auto;
			background-size: 100% auto;
			background-repeat: no-repeat;
			border-radius: 4px;
			padding: 4rem;
			box-sizing: border-box;
			padding-top: 40rem;

			a {
				display: inline-block;
				background: orange;
				color: white;
				padding: 1rem 2rem;
				text-transform: uppercase;
				text-decoration: none;
				margin-top: 2rem;
				width: 40%;
				text-align: center;
			}
		}
	}
}

.screen-reader-text {
	display: none;
}

img {
	display: block;
	width: 100%;
}


.map {
	width: 100%;
	height: 400px;
	border: #ccc solid 1px;

	img {
		max-width: inherit !important;
	}
}

#content {
	position: relative;
	background-color: white;

	background-size: 100% auto;
	background-position: top center;
	background-repeat: no-repeat;
	background-image: url(assets/img/mobile-bg.png);

	margin-top: 860px;
	// margin-top: 980px;
	z-index: 3;

	@media (#{$bp-larger-than-tablet}) {
		background-size: 100% auto;
		background-position: top center;
		background-repeat: no-repeat;
		background-image: url(assets/img/big-square-arange.jpg);
	}

	.tri2 {
		background: transparent;
		position: absolute;
		top: -374px;
		width: 0;
		height: 0;
		right: 0;
		border-bottom: 378px solid white;
		border-left: 651px solid transparent;
	}

	.tri {
		background: transparent;
		position: absolute;
		top: -315px;
		width: 0;
		height: 0;
		border-bottom: 322px solid white;
		border-right: 80vw solid transparent;
	}

	.hex {
		position: absolute;
		// top: -820px;
		// right: 40px;
		// width: 750px;

		top: -700px;
		right: 40px;
		width: 650px;
	}
}

#banner {
	position: fixed;
	width: 100%;
	height: 860px;
	// height: 980px;
	z-index: 0;
	top: 0;
	left: 0;

	-webkit-transition: all .3s linear;	
	-moz-transition: all .3s linear;
	-ms-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;

	.row {
		box-sizing: border-box;
		padding: 0 4rem;
	}

	.tri {
		background: transparent;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		right: 0;
		border-bottom: 300px solid white;
		border-left: 80vw solid transparent;
	}

	.tri2 {
		background: transparent;
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-bottom: 200px solid white;
		border-right: 20vw solid transparent;
	}

	.hex {
		z-index: 1;
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;

		img {
			margin-bottom: -9rem;
			display: block;
			margin-left: 50px;
		}
	}

	.content {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		width: 50%;
		
		// z-index: 3;
		
		-webkit-transition: all .3s linear;	
		-moz-transition: all .3s linear;
		-ms-transition: all .3s linear;
		-o-transition: all .3s linear;
		transition: all .3s linear;

		// @media (#{$bp-larger-than-tablet}) {
		// 	width: 43%;
		// }
		
		// @media (#{$bp-larger-than-desktop}) {
		// 	width: 43%;
		// }
	}

	.hero {
		// position: absolute;
		// width: 100%;
		// height: 100%;

		height: 100%;
		position: relative;
		padding: 0 0 10rem 0;

		h1 {		
			font-size: 3rem;	

			@media (#{$bp-larger-than-tablet}) {
				font-size: 4rem;
			}

			@media (#{$bp-larger-than-desktop}) {
				font-size: 5.5rem;
			}
			
			color: white;
			text-transform: uppercase;
			line-height: 1;
		}

		// br {
		// 	@media (#{$bp-larger-than-tablet}) {
		// 		display: none;
		// 	}
		// }	

		a {
			border: 1px solid #fff;
			border-radius: 4px;
			padding: 0 10px;
			font-size: 1.5rem;
			width: 55%;
			color: white;
			text-decoration: none;
			display: inline-block;
			text-transform: uppercase;
			line-height: 2.5;
			margin-bottom: 10px;
			text-align: center;
			z-index: 1;
			position: relative;

			@media (#{$bp-larger-than-desktop}) {
				margin-right: 10px;
				font-size: 2rem;
				// margin-bottom: 0;
			}
		}
	}

	&.shorty {
		// height: 0;

		.content {
			// opacity: 0;
		}

		.hex {

			img {
				// margin-left: 9999px;
			}
		}

		.hero {

		}
	}
}

#intro {
	position: relative;
	padding: 12rem 0;
	z-index: 1;
	text-align: center;

	article {
		text-align: center;
		margin: 0 auto;
		float: none;
	}

	.content {
		position: relative;
		height: 100%;

		h1 {
			color: black;
			margin-bottom: 3rem;
			font-size: 3rem;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 4rem;
			}
		}
	}

	.quicklinks {
		padding: 0;
		margin: 0;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 10px;

			a {
				text-decoration: none;
			}

			span {
				margin-top: 1rem;
				text-transform: uppercase;
				display: block;
			}

			element {
				display: block;
				width: 165px;
				// height: 165px;
				// background-size: cover;

				img {
					display: block;
				}
				
				// -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				// clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			}
		}
	}
}

#primary {
	position: relative;
	padding: 100px 0;

	.content {
		
		article {
		}

		h1 {
			color: black;
			margin-bottom: 2rem;
			font-size: 3rem;
			text-transform: capitalize;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 4rem;
			}
		}
	}
}

#partners {
	position: relative;
	padding: 100px 0;

	.content {
		
		article {
			text-align: center;
		}

		h1 {
			color: black;
			margin-bottom: 2rem;
			font-size: 3rem;
			text-transform: capitalize;

			@media (#{$bp-larger-than-tablet}) {
				font-size: 4rem;
			}
		}

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				width: 20%;
				margin: 0;
			}
		}
	}

	.event {
		direction: ltr;
		padding: 3rem 0;
		max-width: 1024px;
		margin: 0 auto;
		margin-top: 3rem;
		border-top: 2px solid #eee;

		element {
			display: inline-block;
			width: 285px;
			height: 295px;
			// background-image: url(assets/img/tech.jpg);
			background-size: cover;
			
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		}

		.entry-content, .thumb {
			display: inline-block;
			vertical-align: middle;
			box-sizing: border-box;				
		}

		span.event-details, span.event-organizer, span.event-venue, span.sep {
			display: none;
		}

		.entry-content {
			width: 70%;
			padding-right: 4rem;
			text-align: left;

			h1 {
				color: black;
				margin-bottom: 0rem;
				font-size: 3rem;

				@media (#{$bp-larger-than-tablet}) {
					font-size: 4rem;
				}

				a {
					color: inherit;
					text-decoration: none;
				}
			}

			h3 {
				font-size: 3rem;
			}

			.more {
				display: inline-block;
				text-decoration: none;
				padding: 1rem 2rem;
				border: 1px solid;
				border-radius: 4px;
			}
		}

		.thumb {
			width: 30%;
			text-align: center;
		}
	}
}

#location {
	padding: 0 0 100px 0;
	position: relative;

	.map {
		height: 600px;
	}
}

#tweet {
	padding: 100px 0;
	position: relative;

	.two {
		border-right: 2px solid $primary-color;
		padding: 3rem 0;

		.fa-twitter {
			font-size: 76px;
			color: black;
		}
	}

	.ten {
		padding: 2rem 0;

		.date {
			color: $primary-color;
		}

		p {
			margin-bottom: 2rem;

			&:last-of-type {
				margin-bottom: 0;
			}
		}
	}
}

#filter {

	ul {
		border-top: 2px solid $primary-color;
		border-bottom: 2px solid $primary-color;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 6px;
			width: 30%;

			a {
				text-decoration: none;
				display: block;
				font-size: 2.3rem;
				font-family: $nav-font-family;
				padding: 1.5rem 2rem;
				text-transform: uppercase;
			}
		}
	}
}

#getinvolved {
	background-color: $primary-color;
	
	background-image: url(assets/img/square-orange.png);
	background-position: right center;
	background-size: auto 100%;
	background-repeat: no-repeat;

	color: white;
	padding: 8rem 0;

	h1 {
		margin-bottom: 2rem;
		font-size: 3rem;
		text-transform: capitalize;
		color: white;

		@media (#{$bp-larger-than-tablet}) {
			font-size: 4rem;
		}
	}

	ul {
		margin: 2rem 0 0 0;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;
			
			a {
				border: 1px solid #fff;
				border-radius: 4px;
				padding: 1rem 2rem;
				font-size: 1.5rem;
				color: white;
				text-decoration: none;
				display: inline-block;
				text-transform: uppercase;
				text-align: center;
				z-index: 1;
				position: relative;

				@media (#{$bp-larger-than-desktop}) {
					margin-right: 10px;
				}
			}
		}
	}
}

#thementors {

	.mentor {
		display: inline-block;
		margin-bottom: 4rem;
		padding: 0 1rem;
		width: 25%;
		box-sizing: border-box;
		text-align: center;

		a {
			color: inherit;
			text-decoration: none;
		}

		.avatar {
			display: inline-block;
			width: 185px;
			height: 195px;
			background-image: url(assets/img/tech.jpg);
			background-size: cover;
			
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		}

		h3 {
			margin: 1rem 0 0 0;
			font-size: 2rem;
			color: black;
		}

		h4 {
			margin: 0;
			font-size: 1.8rem;
			text-transform: uppercase;
			color: #666;
			font-family: $base-font;
		}
	}
}

#become {
	padding: 100px 0;
	background-image: url(assets/img/square-orange.png);
	background-position: 0 center;
	background-size: auto 100%;
	background-repeat: no-repeat;

	h1 {
		color: black;
		margin-bottom: 2rem;
		font-size: 3rem;
		text-transform: capitalize;

		@media (#{$bp-larger-than-tablet}) {
			font-size: 4rem;
		}
	}
}

/*======================================
=            PAGE SPECIFICS            =
======================================*/

.page:not(.home), .archive, .single {

	
}

.page {

	.row {
		box-sizing: border-box;
		padding: 0 4rem;
	}

	.gform_wrapper {
		ul.gform_fields {
			li.gfield {
				padding-right: 0;
			}
		}
	}

	#intro {

		article {
			// float: left;
			// text-align: left;
		}
	}
}

.archive {

	#intro {

		article {
			// text-align: center;
			// float: none;
			// margin: 0 auto;
		}
	}
}



.home {

	#banner {
		height: 980px;
	}

	#intro {

		article {
			// text-align: center;
			// float: none;
			// margin: 0 auto;
		}
	}

	#primary {
		background-image: url(assets/img/square-orange.png);
		background-position: -200px center;
		background-size: auto 100%;
		background-repeat: no-repeat;
		padding: 160px 0;
	}

	#content {
		margin-top: 980px;
	}
}

.mentors {

	#content {
		padding-bottom: 100px;
	}

	#thementors {
		padding: 0 0 100px 0;
	}
}

.single-mentors {

	#navs {
		padding-bottom: 100px;

		.post-navigation {
			display: block;
			width: 100%;
			margin: 0;
			padding: 3rem 0;
			border-top: 2px solid $primary-color;
			border-bottom: 2px solid $primary-color;

			.navi {
				display: inline-block;
				width: 50%;
				direction: ltr;

				element, div {
					vertical-align: middle;
					display: inline-block;
				}

				element {
					width: 95px;
					height: 105px;
					// background-image: url(assets/img/tech.jpg);
					background-size: cover;
					margin-right: 1rem;
					
					-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
					clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				}

				.info {
					
					h3 {
						color: black;
						font-size: 2.4rem;
						margin-bottom: 1rem;
					}

					h4 {
						color: black;
						margin-bottom: 0;
						font-family: $base-font;
						font-size: 1.8rem;
						text-transform: uppercase;
					}
				}

				&.next {
					direction: rtl;

					element {
						margin-right: 0;
						margin-left: 1rem; 
					}
				}
			}
		}
	}

	article {

		.entry-header {
			text-align: center;

			a {
				text-decoration: none;
			}

			ul {
				list-style: none;
				margin: 20px 0 0 0;
				padding: 0;

				li {
					display: inline-block;
					vertical-align: middle;
					margin: 0;
					text-align: center;

					a {
						color: white;
						display: inline-block;
						width: 40px;
						padding: 8px 0;
						background: $primary-color;
						border-radius: 50%;
					}

					svg {
						font-size: 24px;
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.entry-content {

			h1 {
				color: black;
				margin-bottom: 2rem;
			}
			h2 {
				font-size: 3rem;
				margin-bottom: 2rem;
			}
		}

		element {
			display: inline-block;
			width: 285px;
			height: 295px;
			// background-image: url(assets/img/tech.jpg);
			background-size: cover;
			
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
		}
	}
}

.single-eventbrite_events {

	article {

		.entry-header {
			text-align: left;

			h1 {
				color: black;
				margin-bottom: 2rem;
			}
		}

		.entry-content {
			float: left;
			width: calc(100% - 325px);
			margin-right: 40px;

			h1 {
				color: black;
				margin-bottom: 2rem;
			}
			h2 {
				font-size: 3rem;
				margin-bottom: 2rem;
			}
		}

		.iee_event_meta {
			display: none;
		}

		.eventbrite-ticket-section {
			margin-top: 4rem;
		}

		.thumb {
			float: right;
			width: 285px;

			element {
				display: inline-block;
				width: 285px;
				height: 295px;
				// background-image: url(assets/img/tech.jpg);
				background-size: cover;
				
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			}
		}
	}
}

.blog {

	.nav-links {
		max-width: 1024px;
		margin: 0 auto;
	}

	.nav-next {
		float: right;
	}

	.nav-previous {
		float: left;
	}

	.nav-next, .nav-previous {

		a {
			border: 1px solid $primary-color;
			padding: 1rem 2rem;
			border-radius: 4px;
			background: $primary-color;
			color: white;
			text-transform: uppercase;
			text-decoration: none;
		}
	}

	#primary {

		article {
			direction: ltr;
			padding: 3rem 0;
			max-width: 1024px;
			margin: 0 auto;
			margin-bottom: 3rem;
			border-bottom: 2px solid #eee;


			&:last-of-type {
				border-bottom: 0;
				margin-bottom: 0;
			}

			element {
				display: inline-block;
				width: 285px;
				height: 295px;
				// background-image: url(assets/img/tech.jpg);
				background-size: cover;
				
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			}

			.entry-content, .thumb {
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;				
			}

			.entry-content {
				width: 70%;
				padding-right: 4rem;
				text-align: left;

				h1 {
					color: black;
					margin-bottom: 3rem;
					font-size: 3rem;

					@media (#{$bp-larger-than-tablet}) {
						font-size: 4rem;
					}

					a {
						color: inherit;
						text-decoration: none;
					}
				}

				.more {
					display: inline-block;
					text-decoration: none;
					padding: 1rem 2rem;
					border: 1px solid;
					border-radius: 4px;
				}
			}

			.thumb {
				width: 30%;
				text-align: center;
			}

			&:nth-child(even) {
				direction: rtl;

				.entry-content {
					padding-right: 0;
					padding-left: 4rem;
				}
			}
		}
	}
}


.apply {

	#masthead {
	}

	#banner {
		display: none;
	}

	#content {
		margin-top: 100vh;

		.tri, .tri2 {
			display: none;
		}
	}

	article {
		margin: 0 0 4rem;
		text-align: center;

		h1, p {
			color: white;
		}
	}

	#apply {
		background-color: rgba($primary-color, 1);
		background-image: url(assets/img/bg-clouds.jpg);
		color: white;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 5;

		.content {
			height: 100%;
		}

		.row {
			max-width: 1024px;
			margin: 0 auto;

			form {
				margin: 4rem auto 0;
				padding-top: 4rem;
				border-top: 1px solid white;
			}

			.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
				margin-top: 0;
				-webkit-appearance: none;
				width: 24px !important;
				height: 24px;
				background: #eee;
				margin-right: 10px;
				vertical-align: top;

				&:checked {
					background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHZlcnNpb249IjEuMSIgdmlld0JveD0iMCAwIDI2IDI2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAyNiAyNiIgd2lkdGg9IjE2cHgiIGhlaWdodD0iMTZweCI+CiAgPHBhdGggZD0ibS4zLDE0Yy0wLjItMC4yLTAuMy0wLjUtMC4zLTAuN3MwLjEtMC41IDAuMy0wLjdsMS40LTEuNGMwLjQtMC40IDEtMC40IDEuNCwwbC4xLC4xIDUuNSw1LjljMC4yLDAuMiAwLjUsMC4yIDAuNywwbDEzLjQtMTMuOWgwLjF2LTguODgxNzhlLTE2YzAuNC0wLjQgMS0wLjQgMS40LDBsMS40LDEuNGMwLjQsMC40IDAuNCwxIDAsMS40bDAsMC0xNiwxNi42Yy0wLjIsMC4yLTAuNCwwLjMtMC43LDAuMy0wLjMsMC0wLjUtMC4xLTAuNy0wLjNsLTcuOC04LjQtLjItLjN6IiBmaWxsPSIjMDAwMDAwIi8+Cjwvc3ZnPgo=);
					background-position: center;
					background-repeat: no-repeat;
				}
			}

			div#gform_confirmation_wrapper_1 {
				background: white;
				padding: 4rem;
				margin-top: 2rem;
				text-align: center;
				color: black;
			}

			#gform_wrapper_1 {
				margin: 0;

				ul.gform_fields li.gfield {
					padding-right: 0;
					margin: 0 0 2rem 0;
					max-width: 100% !important;
					width: 100% !important;
				}

				li.gfield.gfield_error, 
				li.gfield.gfield_error.gfield_contains_required.gfield_creditcard_warning {
					background-color: transparent;
					margin-bottom: 0 !important;
					border-top: 0;
					border-bottom: 0;
					padding-bottom: 0;
					padding-top: 0;
					box-sizing: border-box;
				}

				.gform_page_footer .button.gform_next_button,
				.gform_page_footer .button.gform_previous_button {
					width: 48% !important;
					line-height: 48px;
					float: left;
					margin: 0 !important;
					background: white;
					color: $primary-color !important;
				}

				.gform_page_footer .button.gform_next_button {
					float: right;
				}

				.gfield_description {
					color: #333;
				}

				.field_sublabel_below .ginput_complex.ginput_container label, .field_sublabel_below div[class*=gfield_time_].ginput_container label {
					display: none;
				}

				.gfield_label {
					margin-bottom: 0;
					color: white;
					font-family: $base-font;
				}

				textarea, select, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
					background: #ffffff;
					width: 100%;
					color: #333;
				}
			}

			div.validation_error {
				color: #000000;
				border-top: 2px solid #000;
				border-bottom: 2px solid #000;
			}

			.gform_page_footer {
				margin: 4rem 0 0 0;
				width: 100%;
				border-top: 0;
				padding: 0;
				clear: both;
			}

			.gform_footer input.button, 
			.gform_footer input[type=submit], 
			.gform_page_footer input.button, 
			.gform_page_footer input[type=submit] {
				font-size: inherit;
				width: 100%;
				margin: auto;
				border: 0;
				color: white;
				display: inline-block;
				background: black;
				margin-top: 4rem;
			}
		}
	}

	#colophon {
		position: fixed;
		bottom: 0;
		width: 100%;
		z-index: 6;
		left: 0;
	}
}


.contact {

	#intro {
		padding: 12rem 0;
		
		article {
			// margin: 0 auto;
			// width: 100%;
			// text-align: center;
		}
	}

	.gform_wrapper {
		
		textarea, select, input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
			border: 1px solid $primary-color;
		}
	}

	#primary {
		background: transparent;
		padding: 120px 0;
	}
}

.events {

	#intro {

		article {
			text-align: center;
			float: none;
			margin: 0 auto;
		}
	}

	#primary {

		article {
			direction: ltr;
			padding: 3rem 0;
			max-width: 1024px;
			margin: 0 auto;
			margin-bottom: 3rem;
			border-bottom: 2px solid #eee;
			opacity: 0.1;

			-webkit-transition: all .3s linear;
			   -moz-transition: all .3s linear;
			    -ms-transition: all .3s linear;
			     -o-transition: all .3s linear;
			        transition: all .3s linear;

			&.show {
				opacity: 1;
			}

			&:last-of-type {
				border-bottom: 0;
				margin-bottom: 0;
			}

			element {
				display: inline-block;
				width: 285px;
				height: 295px;
				// background-image: url(assets/img/tech.jpg);
				background-size: cover;
				
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			}

			.entry-content, .thumb {
				display: inline-block;
				vertical-align: middle;
				box-sizing: border-box;				
			}

			span.event-details, span.event-organizer, span.event-venue, span.sep {
				display: none;
			}

			.entry-content {
				width: 70%;
				padding-right: 4rem;
				text-align: left;

				h1 {
					color: black;
					margin-bottom: 0rem;
					font-size: 3rem;

					@media (#{$bp-larger-than-tablet}) {
						font-size: 4rem;
					}

					a {
						color: inherit;
						text-decoration: none;
					}
				}

				h3 {
					font-size: 3rem;
				}

				.more {
					display: inline-block;
					text-decoration: none;
					padding: 1rem 2rem;
					border: 1px solid;
					border-radius: 4px;
				}
			}

			.thumb {
				width: 30%;
				text-align: center;
			}

			&:nth-child(even) {
				direction: rtl;

				.entry-content {
					padding-right: 0;
					padding-left: 4rem;
				}
			}
		}
	}
}

#social {
	margin: 12rem 0 0 0;

	ul {
		margin: 0;
		list-style: none;
		text-align: center;

		li {
			display: inline-block;
			width: 95px;
			height: 105px;
			background-size: cover;
			-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
			background: $primary-color;
			line-height: 105px;
			margin: 0 10px;

			a {
				font-size: 30px;
				color: white;
			}
		}
	}
}

#bios {
	// margin-top: 12rem;

	.content {

		.person {
			width: 100%;
			display: inline-block;
			vertical-align: top;
			box-sizing: border-box;
			text-align: center;

			@media (#{$bp-larger-than-tablet}) {
				width: 50%;
				padding: 0 2rem;
			}

			.pic {
				width: 30%;
				margin-bottom: 1rem;
			}

			.bio {
				width: 100%;
			}

			.pic, .bio {
				display: inline-block;
				vertical-align: top;
			}

			element {
				display: inline-block;
				width: 95px;
				height: 105px;
				background-size: cover;
				-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
				line-height: 105px;
				margin: 0 10px;

				background-size: cover;
				background-position: center;
			}

			h3 {
				color: black;
				font-size: 3rem;
				margin: 0;
			}

			h4 {
				font-size: 2rem;
			}
		}
	}
}