/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#colophon {
	position: relative;

	.footer {
		background: #222;
		color: white;
		padding: 3rem 0;
		
		@media (#{$bp-larger-than-desktop}) {
			padding: 2rem 0;
		}

		position: relative;
		z-index: 2;

		.copyright {
			width: 100%;
			text-align: center;
			font-size: 11px;

			@media (#{$bp-larger-than-desktop}) {
				width: 50%;
				float: left;
				text-align: left;
				font-size: inherit;
			}

			a {
				display: block;

				img {
					margin: 0 auto 2rem auto;
					width: 200px;

					@media (#{$bp-larger-than-desktop}) {
						margin: 0;
					}
				}
			}

			&:last-of-type {
				@media (#{$bp-larger-than-desktop}) {
					text-align: right;
				}

				p {
					display: block;
				}

				img {
					width: 38px;
					float: right;
					margin-top: 1rem;
				}

				ul {
					margin: 0 0 5px 0;

					li {
						display: inline-block;
						margin: 0 0 0 1rem;
						border-left: 1px solid #fff;

						a {
							padding: 0 0 0 1rem;
							color: white;
							text-decoration: none;
							line-height: 1;
						}

						&:first-of-type {
							border-left: 0;

							a {
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}