/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/9/2014
* Sass Version by Seth Coelen https://github.com/whatsnewsaes
*/

#site-navigation {

	.menu-wrap {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		background: rgba($primary-color, 0.9);
		z-index: 10;

		height: 0%;
		opacity: 0;
		visibility: hidden;
		transition: opacity .35s, visibility .35s, height .35s;
		overflow: hidden;

		.table {
			max-width: 320px;
			width: 90%;
			margin: 0 auto;
			text-align: center;

			@media (#{$bp-larger-than-tablet}) {
			}

			.logo {
				margin-bottom: 3rem;

				@media (#{$bp-larger-than-tablet}) {
					margin-bottom: 8rem;
				}

				svg {
					width: 165px;

					@media (#{$bp-larger-than-tablet}) {
						width: 300px;
					}

					path {
						fill: white;
					}
				}
			}
		}

		#primary-menu {
			width: 100%;
			height: 100%;
			text-align: center;

			li {
			 	display: block;
				line-height: 3;
				width: 100%;
				margin: 0 auto;
				opacity: 0;
				position: relative;
				-webkit-transition: all .4s linear;
				-moz-transition: all .4s linear;
				-ms-transition: all .4s linear;
				-o-transition: all .4s linear;
				transition: all .4s linear;
				transition-delay: 0s;

				&.current_page_item {
					background: white;
					border-radius: 4px;

					a {
						color: $primary-color;
					}
				}

				a {
					text-decoration: none;
					color: white;
					font-family: $nav-font-family;
					text-transform: uppercase;

					@media (#{$bp-larger-than-tablet}) {
						padding: 10px 15px;
						font-size: 2.3rem;
					}
				}

				&.apply {

					a {
						background: white;
						display: block;
						padding: 2rem;
						margin-top: 2rem;
						border-radius: 4px;
						line-height: normal;
						color: $primary-color;
						text-decoration: none;
						font-family: $nav-font-family;
						text-transform: uppercase;

						@media (#{$bp-larger-than-tablet}) {
							margin-top: 6rem;
							font-size: 3rem;
						}
					}
				}

				&:hover {

					a {

					}

					.sub-menu {
					}
				}

				a {
					color: white;
				}
			}
		}
	}

	.hamburger {
		padding: 0;
		border-radius: 0;
		height: inherit;
		position: absolute;
		bottom: 8px;
		z-index: 99;

		@media (#{$bp-larger-than-tablet}) {
			bottom: 30px;
			right: 4rem;
		}

		.hamburger-box {
			display: block;
		}
	}

	// @media (#{$bp-larger-than-desktophd}) {
	.menu-toggle {
		display: block;
	}
	// }

	&.toggled {

		.hamburger {
			//bottom: 36px;

			.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
				background-color: white;
			}
		}

		.logo {

			svg {
				path: white;
			}
		}

		.menu-wrap {
			visibility: visible;
			height: 100%;
			opacity: 1;
		}

		#primary-menu {

			li {
				opacity: 1;
				transition-delay: .35s;

				&:nth-of-type(2) {
					transition-delay: .4s;
				}
				&:nth-of-type(3) {
					transition-delay: .45s;
				}
				&:nth-of-type(4) {
					transition-delay: .5s;
				}
				&:nth-of-type(5) {
					transition-delay: .55s;
				}
				&:nth-of-type(6) {
					transition-delay: .6s;
				}
				&:nth-of-type(7) {
					transition-delay: .65s;
				}
				&:nth-of-type(8) {
					transition-delay: .70s;
				}
				&:nth-of-type(9) {
					transition-delay: .75s;
				}
				&:nth-of-type(10) {
					transition-delay: .80s;
				}
			}
		}
	}
}

.shorty .hamburger-inner, .shorty .hamburger-inner::before, .shorty .hamburger-inner::after {
	background: $primary-color;
}